.container__titulo{
    display: grid;
    align-items: center;
    width: 82.5%;
    margin: auto;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 5em;
}

.container__titulo h2{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    font-size: 4em;
    font-weight: 400;
    font-family: 'prata';
    color: #6278F7;
    margin: 0;
}
.botao__adicionar{
    grid-row: 1/2;
    grid-column: 3/4;
    padding-left: auto;
    background-color: #6278F7;
    color: white;
    padding: 2.175em 2.1em;
    border-style: none;
    border: solid 2px white;
    border-radius: 3em;
    justify-self: flex-end;
    box-shadow: .25em .5em .75em rgba(0, 0, 0, 0.4);
}
.tracinho{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    background-color: #6278F7;
    width: 4em;
    height: .25em;
}