
.card{
    list-style-type: none;
    padding: 0;
}
.card__banner{
    background: #57C278;
    height: 5.75em;
    width: 16.25em;
}
.card__dados{
    background: white;
    height: 11.125em;
    font-family: 'Montserrat';
    text-align: center;
}
.card__dados h3{
    font-size: 1.125em;
    font-weight: 600;
    color: #6278F7;
}
.card__dados p{
    font-size: 1em;
    font-weight: 400;
    color: #212121;
}
