.container__time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__time h2{
    margin: 0;
    font-size: 1.475em;
}
.card__setor__lista{
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    list-style-type: none;
    padding: 0;
}
.tracinho__time{
    margin-top: .25em;
    width: 2em;
    height: .25em;
}