.cria-card__linha{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cria-card__linha label{
    margin-top: 1.2em;
    font-size: 0.9em;
    font-family: "Montserrat";
    font-weight: 600;
}
.cria-card__linha input, .selecionar{
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: .6em;
    border-style: none;
    height: 6em;
    padding: 0 2em ;
    box-shadow: .5em .5em 1.5em rgba(0, 0, 0, 0.1);;
}